.contact-bg {
    background-image: url('../images/contact-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }
  .contact {
    background: rgba(0,0,0,0.4);
    color: #fff;
  }
  .contact a {
    color: #fff;
  }