@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

/* COMMON */
.spacer {
  padding: 100px 0;
}

/*top*/
.main-nav {
  width: 100%;
  position: fixed;
  .btn {
    z-index: 1;
    .fa-bars {
      color: #fff;
    }
  }
  &.active {
    nav {
      width: 300px;
    }
  }
  nav {
    display: none;
    z-index: 50;
    padding-top: 60px;
    margin-left: 20px;
    transition: .5s;
    background-color: #3f3f41;
    overflow: hidden;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 0;
    right: 0;
    a {
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      display: block;
      text-decoration: none;
    }
  }
}

.main-nav {
  z-index: 50;
}